@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Poppins',sans-serif;
    scroll-behavior:smooth;
}

body{
    background:#050505;
    color:#fff;
    overflow-x:hidden;
}

header{
    width:100%;
    position:fixed;
    top:0;
    left:0;
    z-index:1000;
    background:rgba(0,0,0,.4);
    backdrop-filter:blur(15px);
}

nav{
    width:90%;
    margin:auto;
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:18px 0;
}

.logo{
    font-size:30px;
    color:white;
    font-weight:700;
}

.logo span{
    color:#00d9ff;
}

nav ul{
    display:flex;
    list-style:none;
    gap:30px;
}

nav ul li a{
    color:white;
    text-decoration:none;
    transition:.3s;
}

nav ul li a:hover{
    color:#00d9ff;
}
.hero{
    min-height:100vh;
    width:90%;
    margin:0 auto;
    display:flex;
    justify-content:space-between;
    align-items:center;
    gap:60px;
    padding-top:120px;
}
.profile-img {
    width: 280px;
    height: 280px;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
    display: block;
}
.profile-circle {
    width: 280px;
    height: 280px;
    border-radius: 50%;
    background-image: url("your-image.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

@media (max-width: 768px) {
    .profile-circle {
        width: 220px;
        height: 220px;
    }
    nav{
    padding: 15px 20px;
}

nav ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
}

.hero{
    margin-top: 140px;
}
}

.btn{
    padding:12px 28px;
    background:linear-gradient(45deg,#00d9ff,#8a2be2);
    color:white;
    text-decoration:none;
    border-radius:30px;
    transition:.4s;
}

.btn:hover{
    transform:translateY(-5px);
}


.left{
    width:55%;
}

.left h3{
    color:#00d9ff;
    font-size:22px;
}

.left h1{
    font-size:65px;
    margin:15px 0;
}

.left h1 span{
    color:#00d9ff;
}

.left h2{
    font-size:35px;
    color:#ccc;
}

.left p{
    margin:25px 0;
    color:#bbb;
    line-height:30px;
}

.buttons{
    display:flex;
    gap:20px;
}

.btn2{
    padding:12px 28px;
    border:2px solid #00d9ff;
    color:white;
    text-decoration:none;
    border-radius:30px;
    transition:.4s;
}

.btn2:hover{
    background:#00d9ff;
}

.social{
    margin-top:40px;
}

.social a{
    color:white;
    font-size:28px;
    margin-right:20px;
    transition:.3s;
}

.social a:hover{
    color:#00d9ff;
}

.right{
    width:40%;
    display:flex;
    justify-content:center;
}

.circle{
    width:430px;
    height:430px;
    border-radius:50%;
    background:linear-gradient(135deg,#235861,#8a2be2);
    padding:8px;
    display:flex;
    justify-content:center;
    align-items:center;
    box-shadow:0 0 50px rgba(153, 0, 255, 0.4);
}

.circle img{
    width:100%;
    height:100%;
    object-fit:cover;
    border-radius:50%;
    border:6px solid #050505;
}
/* About Section */

#about{

    padding:80px 10%;

}


.about-container{

    display:flex;
    align-items:center;
    gap:50px;

}


.about-img img{

    width:300px;
    height:300px;
    border-radius:50%;
    object-fit:cover;

}



.about-content{

    max-width:600px;

}



.about-content h2{

    font-size:40px;

}


.about-content h2 span{

    color:#00abf0;

}



.about-content h3{

    margin:15px 0;
    font-size:24px;

}



.about-content p{

    line-height:1.6;
    margin-bottom:15px;

}



.about-details{

    display:grid;
    grid-template-columns:repeat(2,1fr);
    gap:15px;
    margin:20px 0;

}



.about-details div{

    background:#37386d;
    padding:15px;
    border-radius:10px;

}



.btn{

    display:inline-block;
    padding:12px 25px;
    background:#00abf0;
    color:white;
    text-decoration:none;
    border-radius:25px;

}



/* Responsive */
@media (max-width:768px){

    nav{
        flex-direction:column;
        gap:15px;
    }

    nav ul{
        flex-wrap:wrap;
        justify-content:center;
        gap:15px;
    }

    .hero{
        flex-direction:column-reverse;
        text-align:center;
        padding-top:160px;
        gap:40px;
    }

    .left,
    .right{
        width:100%;
    }

    .left h1{
        font-size:48px;
    }

    .left h2{
        font-size:28px;
    }

    .left p{
        font-size:18px;
        line-height:1.7;
    }

    .buttons{
        justify-content:center;
        flex-wrap:wrap;
    }

    .circle{
        width:260px;
        height:260px;
    }

    .circle img{
        width:100%;
        height:100%;
        object-fit:cover;
        border-radius:50%;
    }
}
@media (max-width:768px){

   .hero{
    padding-top: 140px;
}

}
@media (max-width: 768px) {
    .profile-img {
        width: 220px;
        height: 220px;
        object-fit: cover;
        object-position: center;
    }
}


#skills{

    padding:80px 10%;
    text-align:center;

}


.heading{

    font-size:40px;
    margin-bottom:40px;

}


.heading span{

    color:#00abf0;

}



.skills-container{

    display:grid;

    grid-template-columns:repeat(3,1fr);

    gap:30px;

}



.skill-card{

    background:rgb(59, 57, 145);

    padding:30px;

    border-radius:15px;

    box-shadow:0 5px 20px rgba(0,0,0,0.1);

    transition:0.3s;

}



.skill-card:hover{

    transform:translateY(-10px);

}



.skill-card i{

    font-size:50px;

    color:#00abf0;

    margin-bottom:20px;

}



.skill-card h3{

    font-size:25px;

    margin-bottom:15px;

}



.skill-card p{

    line-height:1.5;

}



/* Responsive */

@media(max-width:900px){

    .skills-container{

        grid-template-columns:repeat(2,1fr);

    }

}



@media(max-width:600px){

    .skills-container{

        grid-template-columns:1fr;

    }

}
/* Projects Section */


#projects{

    padding:80px 10%;
    text-align:center;

}



.projects-container{

    display:grid;

    grid-template-columns:repeat(3,1fr);

    gap:30px;

}



.project-card{

    background:rgb(57, 47, 132);

    border-radius:15px;

    overflow:hidden;

    box-shadow:0 5px 20px rgba(0,0,0,0.1);

    transition:0.3s;

}



.project-card:hover{

    transform:translateY(-10px);

}



.project-card img{

    width:100%;

    height:200px;

    object-fit:cover;

}



.project-content{

    padding:20px;

}



.project-content h3{

    font-size:25px;

    margin-bottom:15px;

}



.project-content p{

    line-height:1.5;

    margin-bottom:20px;

}



.project-buttons{

    display:flex;

    justify-content:center;

    gap:15px;

}



.project-buttons .btn{

    padding:10px 20px;

    font-size:14px;

}




/* Responsive */

@media(max-width:900px){

    .projects-container{

        grid-template-columns:repeat(2,1fr);

    }

}



@media(max-width:600px){

    .projects-container{

        grid-template-columns:1fr;

    }

}
/* Education Section */


#education{

    padding:80px 10%;

    text-align:center;

}



.education-container{

    display:grid;

    grid-template-columns:repeat(3,1fr);

    gap:30px;

}



.education-card{

    background:rgb(124, 67, 162);

    padding:30px;

    border-radius:15px;

    box-shadow:0 5px 20px rgba(0,0,0,0.1);

    transition:0.3s;

}



.education-card:hover{

    transform:translateY(-10px);

}



.education-card i{

    font-size:45px;

    color:#00abf0;

    margin-bottom:20px;

}



.education-card h3{

    font-size:24px;

    margin-bottom:10px;

}



.education-card h4{

    color:#555;

    margin-bottom:10px;

}



.education-card p{

    margin-bottom:10px;

}



.education-card span{

    font-weight:bold;

    color:#00abf0;

}



/* Responsive */

@media(max-width:900px){

    .education-container{

        grid-template-columns:repeat(2,1fr);

    }

}



@media(max-width:600px){

    .education-container{

        grid-template-columns:1fr;

    }

}
/* Contact Section */


#contact{

    padding:80px 10%;

}



.contact-container{

    display:flex;

    justify-content:center;

    gap:50px;

}



.contact-info{

    width:40%;

}



.contact-info h3{

    font-size:30px;

    margin-bottom:20px;

}



.contact-info p{

    line-height:1.6;

    margin-bottom:25px;

}



.contact-item{

    display:flex;

    align-items:center;

    gap:15px;

    margin:20px 0;

}



.contact-item i{

    font-size:25px;

    color:#00abf0;

}




.contact-form{

    width:50%;

}



.contact-form form{

    display:flex;

    flex-direction:column;

    gap:15px;

}



.contact-form input,
.contact-form textarea{

    padding:15px;

    border:none;

    outline:none;

    background:#4c2d72;

    border-radius:10px;

    font-size:16px;

}



.contact-form button{

    padding:15px;

    border:none;

    background:#00abf0;

    color:white;

    font-size:18px;

    border-radius:25px;

    cursor:pointer;

}



.contact-form button:hover{

    opacity:0.8;

}



/* Responsive */

@media(max-width:768px){

    .contact-container{

        flex-direction:column;

    }


    .contact-info,
    .contact-form{

        width:100%;

    }

}